* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}

.content-box {
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom: 0;
    padding-bottom: 30px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f1f5fd;
}

.content {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.content-collapse {
    left: 65px;
}

.crumbs {
    margin: 10px 0;
}

.container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.el-select {
    display: inline-block;
    position: relative;
    width: 100%;
}

.el-form-item__label{
    width: 160px !important;
    font-size: 18px !important;
    color: #888888 !important;
    margin-bottom: 20px;
}
.el-form-item {
    display: flex;
    align-items: center;
}
.el-form-item__content{
    margin-left: 0px !important;
}

.el-input__suffix {
    top: -8px !important;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.el-col-24 {
    width: 100%;
    display: flex;
    margin: 40px 0px 40px 0px;
    justify-content: flex-end;
}